altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
comtypes==1.2.0
darkdetect==0.8.0
et-xmlfile==1.1.0
flake8==6.1.0
idna==3.4
importlib-metadata==6.8.0
mccabe==0.7.0
netifaces==0.11.0
onvif==0.2.0
openpyxl==3.1.2
packaging==23.1
pefile==2023.2.7
pycodestyle==2.11.0
pyflakes==3.1.0
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pyqt5-tools==5.15.9.3.3
python-dotenv==1.0.0
python-vlc==3.0.18122
pywin32-ctypes==0.2.2
PyYAML==6.0.1
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
QtAwesome==1.2.3
QtPy==2.4.0
requests==2.31.0
requests-toolbelt==1.0.0
suds==1.1.2
suds-passworddigest==0.1.2
urllib3==2.0.4
WSDiscovery==2.0.0
zipp==3.17.0
